<div class="modal fade classModal articlesNoteModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Notes for article: <span class="newsId"></span></h4>
            </div>
            <div class="modal-body"></div>
            <div class="row" style="padding: 15px">
                <div class="col-lg-12">
                    <textarea class="notesTextarea" placeholder="Add some notes..." rows="5" style="border-radius: 5px; padding: 5px; width: 100%; resize: none"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success saveNotesBtn" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>