<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <title>NYT</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="jquery.js"></script>
    <script src="bootjs.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="row">
    <div class="col-lg-12" style="height: 85px; display: inline">
        <div class="row">
            <div class="col-lg-3" style="text-align: center">
                <h1>Mongo Scraper</h1>
            </div>
            <div class="col-lg-1" style="height:85px; text-align: center; padding-top: 27px">
                <a href="/all" style="font-size: 14pt" id="homeBtn">Home</a>
            </div>
            <div class="col-lg-2" style="height:85px; text-align: center; padding-top: 27px">
                <a href="/saved" style="font-size: 14pt" id="savedArtBtn">Saved Articles</a>
            </div>
            <div class="col-lg-6" style="height:85px; padding-top: 20px">
                <button id="scrapeBtn" class="btn btn-warning" style="font-size: 14pt">Scrape New Articles!</button>
            </div>
        </div>
    </div>
</div>
<div class="row" style="color:white; height: 500px; text-align: center; padding-top: 180px; background-image: url(images/coffee.jpg); background-position: bottom">
    <h1 style="font-size: 50pt; text-shadow: 3px 3px black">MONGO SCRAPER</h1>
    <h3 style="text-shadow: 3px 3px black">New York Times - Tech Edition</h3>
</div>
{{{body}}}
<script src="app.js"></script>
</body>
</html>
