<div id="news-list">
    {{#each articles}}
        <div class='row' style='padding:20px; border:0.5px solid grey'>
            <div class='col-lg-12'>
                <div class='row'>
                    <div class='col-lg-9'>
                        <h2>{{title}}</h2>
                    </div>
                    <div class='col-lg-3' style='margin-top: 25px'>
                        <button class='btn btn-success saveArticleBtn' style='font-size: 18px' data-id="{{_id}}">Save Article</button>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-lg-12'>
                        <p>{{desc}}</p>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
</div>

<div class="modal fade classModal" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Info</h4>
            </div>
            <div class="modal-body">
                <h1 id="infoMessage">20 New Articles Have Been Scraped!</h1>
            </div>
        </div>
    </div>
</div>