<div id="news-list">
    {{#each articles}}
        <div class='row' style='padding:20px; border:1px solid black'>
            <div class='col-lg-12'>
                <div class='row'>
                    <div class='col-lg-9'>
                        <h2>{{title}}</h2>
                    </div>
                    <div class='col-lg-3' style='margin-top: 25px'>
                        <div class="row">
                            <div class="col-lg-6">
                                <a><button class='btn btn-success addNotesBtn' data-id="{{_id}}" style='font-size: 18px'>Article Notes</button></a>
                            </div>
                            <div class="col-lg-6">
                                <button class='btn btn-danger deleteArticleBtn' style='font-size: 18px' data-id="{{_id}}">Delete Article</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-lg-12'>
                        <p>{{desc}}</p>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
</div>

{{> notes-modal}}